@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

$electrolize: 'Electrolize', sans-serif;
$lexendzetta: 'Lexend Zetta', sans-serif;
$oxygen: 'Oxygen', sans-serif;
$primary-200: #80DEEA;
$primary-100: #B2EBF2;
$primary-50: #E0F7FA;
$supporting-text: #b0bec5;
