@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

$electrolize: 'Electrolize', sans-serif;
$lexendzetta: 'Lexend Zetta', sans-serif;
$lato: 'Lato', sans-serif;
$poppins: 'Poppins', sans-serif;
