@use 'theme' as *;

.about_container {
  display: flex;
  height: 765px;
}

.padding {
  padding-left: 375px;
  padding-right: 375px;
}

.image_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.vincent {
  display: flex;
  justify-content: center;
  max-height: 80%;
}

.image {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.text_container {
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  font-family: $lato;
  padding-left: 100px;
}

.text {
  color: #212121;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 10px;
}

.text_h1 {
  color: #212121;
  margin: 0px;
}

.email {
  text-decoration: none;
  color: #2296f3;
  transition: color 0.25s;
}

.email:hover {
  color: #1b75d2;
}

.divider {
  margin-top: 20px;
  border-bottom: 5px solid #2296f3;
  width: 3em;
}

.drawing_header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E3F2FD;
  height: 215px;
}

.header_h1 {
  font-family: $maven;
  font-size: 60px;
  color: #212121;
  margin: 0px;
}

.icons {
  font-size: 60px !important;
  vertical-align: middle;
  color: #212121;
  margin-left: 20px;
}

.woody_container {
  background-color: #FFFDE7;
  display: flex;
  height: 640px;
}

.shrek_container {
  background-color: #fce8e4;
  display: flex;
  height: 640px;
}

.spiderverse_container {
  background-color: #EDE7F6;
  display: flex;
  height: 640px;
}

.findingnemo_container {
  background-color: #E3F2FD;
  display: flex;
  height: 640px;
}

.description_container {
  min-width: 50%;
  font-family: $maven;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #212121;
}

.paint_image_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 50%;
  height: 100%;
}

.paint_character {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 60px;
}

.paint_title {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 60px;
  color: #212121;
  font-style: italic;
}

.woody {
  display: flex;
  justify-content: center;
  max-height: 60%;
}

.shrek {
  display: flex;
  justify-content: center;
  max-height: 70%;
}

.spiderverse {
  display: flex;
  justify-content: center;
  max-height: 100%;
}

.findingnemo {
  display: flex;
  justify-content: center;
  max-height: 100%;
}

@media only screen and (max-width: 1715px) {
  .paint_character {
    font-size: 48px;
  }
}

@media only screen and (max-width: 1700px) {
  .padding {
    padding: 0px 300px;
  }
}

@media only screen and (max-width: 1400px) {
  .padding {
    padding: 0px 200px;
  }
}

@media only screen and (max-width: 1250px) {
  .text_h1 {
    font-size: 24px;
  }

  .text {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1202px) {
  .header_h1 {
    font-size: 48px;
  }

  .icons {
    font-size: 48px !important;
  }
}

@media only screen and (max-width: 1172px) {
  .paint_character {
    font-size: 36px;
  }
}

@media only screen and (max-width: 1118px) {
  .padding {
    padding: 0px 100px;
  }
}

@media only screen and (max-width: 900px) {
  .text_h1 {
    font-size: 20px;
  }

  .text {
    font-size: 14px;
  }
}

@media only screen and (max-width: 850px) {
  .drawing_header {
    height: 150px;
  }

  .header_h1 {
    font-size: 36px;
  }

  .icons {
    font-size: 36px !important;
  }
}

@media only screen and (max-width: 813px) {
  .padding {
    padding: 0px 50px;
  }

  .about_container {
    flex-direction: column;
    align-items: center;
    height: 665px;
  }

  .text_container {
    padding-left: 0px;
    width: 100%;
    height: 50%;
    justify-content: start;
  }

  .text_h1 {
    align-self: center;
  }

  .divider {
    align-self: center;
    margin-top: 10px;
  }
  
  .image_container {
    width: 100%;
    height: 50%;
  }
}

@media only screen and (max-width: 680px) {
  .woody_container {
    height: 540px;
  }

  .shrek_container {
    height: 540px;
  }

  .spiderverse_container {
    height: 540px;
  }

  .findingnemo_container {
    height: 540px;
  }

  .paint_character {
    font-size: 24px;
  }
}

@media only screen and (max-width: 610px) {
  .woody_container {
    height: 440px;
  }

  .shrek_container {
    height: 440px;
  }

  .spiderverse_container {
    height: 440px;
  }

  .findingnemo_container {
    height: 440px;
  }

  .padding {
    padding: 0px 25px;
  }
  
  .drawing_header {
    height: 100px;
  }

  .header_h1 {
    font-size: 24px;
  }

  .icons {
    font-size: 24px !important;
  }
}

@media only screen and (max-width: 570px) {
  .woody_container {
    height: 340px;
  }

  .shrek_container {
    height: 340px;
  }

  .spiderverse_container {
    height: 340px;
  }

  .findingnemo_container {
    height: 340px;
  }

  .padding {
    padding: 0px 10px;
  }

  .about_container {
    height: 550px;
  }

  .text_container {
    width: 80%;
  }

  .text_h1 {
    font-size: 18px;
  }

  .text {
    font-size: 12px;
  }

  .paint_character {
    font-size: 20px;
  }
}

@media only screen and (max-width: 425px) {
  .about_container {
    height: 650px;
  }
}

@media only screen and (max-width: 400px) {
  .woody_container {
    height: 240px;
  }

  .shrek_container {
    height: 240px;
  }

  .spiderverse_container {
    height: 240px;
  }

  .findingnemo_container {
    height: 240px;
  }

  .header_h1 {
    font-size: 20px;
  }

  .icons {
    font-size: 20px !important;
    margin-left: 10px;
  }

  .paint_character {
    font-size: 16px;
  }
}

@media only screen and (max-width: 345px) {
  .image_container {
    height: 40%;
  }

  .text_container {
    height: 60%;
  }

  .drawing_header {
    height: 75px;
  }

  .header_h1 {
    font-size: 18px;
  }

  .icons {
    font-size: 18px !important;
  }

  .about_container {
    height: 600px;
  }
}