@use 'theme' as *;

body {
  background-color: #FAFAFA;
  margin: 0px;
  height: 100vh;
  width: 100vw;
}

.about_container {
  display: flex;
  height: 90vh;
}

.padding {
  padding-left: 40vh;
  padding-right: 40vh;
}

.image_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.vincent {
  display: flex;
  justify-content: center;
  max-height: 80%;
}

.image {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.text_container {
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  font-family: $lato;
  padding-left: 100px;
}

.text {
  color: #212121;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 10px;
}

.text_h1 {
  color: #212121;
  margin: 0px;
}

.email {
  text-decoration: none;
  color: #2296f3;
  transition: color 0.25s;
}

.email:hover {
  color: #1b75d2;
}

.divider {
  margin-top: 20px;
  border-bottom: 5px solid #2296f3;
  width: 3em;
}

.drawing_header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E3F2FD;
  height: 25vh;
}

.header_h1 {
  font-family: $maven;
  font-size: 60px;
  color: #212121;
  margin: 0px;
}

.icons {
  font-size: 60px;
  vertical-align: middle;
  color: #212121;
  margin-left: 20px;
}

.woody_container {
  background-color: #FCE4EC;
  display: flex;
  height: 75vh;
}

.woody {
  display: flex;
  justify-content: center;
  max-height: 100%;
}

.description_container {
  width: 50%;
  padding-left: 100px;
  font-family: $maven;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: center;
  color: #212121;
}

.paint_text {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 60px;
  color: #212121;
}