@use 'theme' as *;

.footer_container {
  display: flex;
  flex-direction: column;
  height: 280px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  border-bottom: 10px solid #2296f3;
}

.text_container {
  display: flex;
  flex-direction: column;
}

.footer_h1 {
  font-family: $lato;
  font-size: 48px;
}

.highlight {
  color: #2296f3;
}

.socials_container {
  display: flex;
  flex-direction: row;
  gap: 15px;
  color: #FAFAFA;
}

.padding {
  padding-left: 375px;
  padding-right: 375px;
}

.social_image {
  font-size: 48px;
  transition: transform 0.5s;
}

.social_image:hover {
  transform: scale(1.2);
}

.social_link {
  color: #2296f3;
}

@media only screen and (max-width: 1700px) {
  .padding {
    padding: 0px 300px;
  }
}

@media only screen and (max-width: 1400px) {
  .padding {
    padding: 0px 200px;
  }
}

@media only screen and (max-width: 1118px) {
  .padding {
    padding: 0px 100px;
  }
}

@media only screen and (max-width: 813px) {
  .padding {
    padding: 0px 50px;
  }
}

@media only screen and (max-width: 610px) {
  .padding {
    padding: 0px 25px;
  }

  .social_image {
    font-size: 36px;
  }

  .footer_h1 {
    font-size: 36px;
  }
}

@media only screen and (max-width: 570px) {
  .padding {
    padding: 0px 10px;
  }
}

@media only screen and (max-width: 450px) {
  .footer_container {
    height: 180px;
  }

  .social_image {
    font-size: 30px;
  }
  
  .footer_h1 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 350px) {
  .social_image {
    font-size: 24px;
  }

  .footer_h1 {
    font-size: 24px;
  }
}