@use 'theme' as *;
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');

.footer {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #121212;
}

.link_container {
  font-size: 2rem;
}

.link {
  color: $supporting-text;
}

.image {
  margin-left: 10px;
  margin-right: 10px;
  transition: color 0.5s;
}

.image:hover {
  color: $primary-200;
}

.email {
  font-family: 'Oxygen', sans-serif;
  font-size: 1rem;
  text-decoration: none;
  color: $supporting-text;
  transition: color 0.5s;
}

.email:hover {
  color: $primary-200;
}