@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');

.footer {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.link_container {
  font-size: 2rem;
}

.link {
  color: inherit;
}

.image {
  margin-left: 10px;
  margin-right: 10px;
  transition: color 1s;
}

.image:hover {
  color: #90b8f8;
}

.email {
  font-family: 'Oxygen', sans-serif;
  font-size: 1rem;
  text-decoration: none;
  color: #e8eaed;
  transition: color 1s;
}

.email:hover {
  color: #90b8f8;
}