@use 'theme' as *;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  background-color: #FAFAFA;
  margin: 0px;
  height: 100vh;
}

.padding {
  padding-left: 40vh;
  padding-right: 40vh;
}

.home_container {
  display: flex;
  flex-direction: row;
  font-family: 'Lato', sans-serif;
  height: 45vh;
}

.home_text_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.home_h1 {
  margin-top: 0px;
  font-size: 48px;
  font-weight: 700;
  color:#212121;
}

.home_h2 {
  margin-top: 0px;
  font-size: 30px;
  font-weight: 500;
  color: #212121;
  width: 30em;
}

.home_highlight {
  color: #2296f3;
}

.socials_container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 15px;
  width: 100%;
}

.social_image {
  font-size: 48px;
  transition: transform 0.5s;
}

.social_image:hover {
  transform: scale(1.2);
}

.social_link {
  color: #2296f3;
}

.doremeet_container {
  background-color: #eeeeee;
  display: flex;
  height: 57vh;
}

.marketplace_container {
  background-color: #E3F2FD;
  display: flex;
  height: 57vh;
}

.database_container {
  background-color: #212121;
  display: flex;
  height: 57vh;
}

.image_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.description_container {
  width: 50%;
  padding-left: 100px;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: center;
}

.project_title {
  font-size: 36px;
  margin-bottom: 10px;
  color: #424242;
}

.project_technology_title {
  font-size: 24px;
  margin-bottom: 10px;
  color: #424242;
}

.project_description {
  line-height: 1.5;
  margin-bottom: 40px;
  color: #616161;
}

.project_technology {
  display: flex;
  gap: 10px 20px;
  color: #2296f3;
  flex-wrap: wrap;
}

.image {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.project_title_bright {
  font-size: 36px;
  margin-bottom: 10px;
  color: #F5F5F5;
}

.project_technology_title_bright {
  font-size: 24px;
  margin-bottom: 10px;
  color: #F5F5F5;
}

.project_description_bright {
  line-height: 1.5;
  margin-bottom: 40px;
  color: #FAFAFA;
}