@use 'theme' as *;

.button {
  position: fixed;
  bottom: 4%;
  right: 2%;
  width: 50px;
  height: 50px;
  border: solid 2px $gray-900;
  background-color: transparent;
  border-radius: 50%;
}

.button:hover {
  cursor: pointer;
  .icon {
    color: $blue;
  }
}

.icon {
  color: $gray-900;
}

