@use 'theme' as *;

.navbar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #212121;
  position: sticky;
  top: 0;
}

.padding {
  padding-left: 40vh;
  padding-right: 40vh;
}

.name {
  display: flex;
  font-family: $lexendzetta;
  font-size: 18px;
}

.link_container {
  display: flex;
  font-family: $electrolize;
  font-size: 16px;
}

.link {
  text-decoration: none;
  color:  #f5f5f5;
  transition: color 0.25s;
}

.link:hover {
  color: #BDBDBD;
}

.right_link {
  margin-left: 30px;
}

.active {
  color: #BDBDBD;
}