@use 'theme' as *;

.navbar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #212121;
  position: sticky;
  top: 0;
  z-index: 999;
}

.padding {
  padding-left: 375px;
  padding-right: 375px;
}

.name {
  display: flex;
  font-family: $lexendzetta;
  font-size: 18px;
}

.link_container {
  display: flex;
  font-family: $electrolize;
  font-size: 16px;
}

.link {
  text-decoration: none;
  color:  #BDBDBD;
  transition: color 0.25s;
}

.link:hover {
  color: #f5f5f5;
}

.right_link {
  margin-left: 30px;
}

.active {
  color: #f5f5f5;
}

.left_link {
  text-decoration: none;
  color: #f5f5f5;
}

@media only screen and (max-width: 1700px) {
  .padding {
    padding: 0px 300px;
  }
}

@media only screen and (max-width: 1400px) {
  .padding {
    padding: 0px 200px;
  }
}

@media only screen and (max-width: 1118px) {
  .padding {
    padding: 0px 100px;
  }
}

@media only screen and (max-width: 813px) {
  .padding {
    padding: 0px 50px;
  }
}

@media only screen and (max-width: 610px) {
  .padding {
    padding: 0px 25px;
  }
}

@media only screen and (max-width: 570px) {
  .padding {
    padding: 0px 10px;
  }

  .name {
    display: none;
  }

  .link_container {
    display: none;
  }
}