.container {
  position: relative;
  border-top: 1px solid #E0E0E0;
  padding: 10px 0px;
}

.swiperContainer {
  height: 110px;
  width: 80%;
}

.slideContainer {
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  box-sizing: border-box;
}

.activeSlide {
  border-color: #9E9E9E;
}

.thumbnail {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.thumbnail:hover {
  cursor: pointer;
}

.button {
  width: 24px;
  height: 24px;
  background-color: transparent;
  outline: none;
  border: none;
  color: #212121;
  position: absolute;
  top: 40%;
}

.button:hover {
  cursor: pointer;
}

.button:disabled {
  opacity: 20%;
}

.icon {
  font-size: 24px;
}

.left {
  left: 1%;
}

.right {
  right: 1%;
}

.bigImage {
  object-fit: contain;
  height: 50%;
}